<div class="container">
  <md-toolbar color="primary">
    <span>Material Design 2</span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>account_circle</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Entrar</button>
    <button md-menu-item>Sobre</button>
  </md-menu>
  <md-card>
    <button md-button (click)="showMessage()">UM</button>
    <button md-raised-button (click)="showMessage()">Dois</button>
    <button md-raised-button color="primary" (click)="showMessage()">Treis</button>
    <button md-raised-button color="accent" (click)="showMessage()">Quatro</button>
  </md-card>
  <span class="done">
    <button md-fab (click)="showMessage()">
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>
